/* aside левая панель навигации start -------------------*/

.aside {
    padding: 46px 0px;
    background-color: var(--color-greybg);
    max-width: 289px;
    width: 100%;
    overflow: auto;
    &__list {
        font-size: 20px;
    }
    &__btn {
        padding: 15px 30px;
        display: flex;
        align-items: center;
        width: 100%;
        &.aside__btn-active {
            background-color: #fff;
        }
        & svg {
            margin-right: 12px;
        }
    }
}


/* aside левая панель навигации end -------------------*/