.playlist {
    &__h2 {

    }
    &__list {
        display: flex;
        flex-wrap: wrap;

    }
    &__item {
        width: calc((100% - 30px*3) / 4);
        margin-bottom: 30px;
        position: relative;
        &:not(:nth-child(4n)) {
            margin-right: 30px;
        }
    }
    &__h3 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        &__link {
            transition-property: color, background-color, opacity;
            transition-duration: var(--transition-duration);
            transition-timing-function: ease-in-out;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:focus-visible {
                outline: none;
                color: #fff;
                background-color: var(--color-promo);
            }
            &:active {
                opacity: 0.5;
            }
            @media (min-width: 1200px) {
                &:hover:not(:focus-visible) {
                    color: var(--color-promo);
                }
            }
        }
    }
    &__img {
        width: 100%;
        margin-bottom: 20px;
    }
    &__count {
        color: var(--color-greytxt);
        font-weight: bold;
    }
}