$primary: #6D31EE;
$primary_shade: #4F28A5;
$primary_light: #AA9DFA;
$white: #FFFFFF;
$light: #E6E8EC;
$gray: #A1A6B4;
$shade_grey: #D2D5DD;
$black: #121723;
$light_black: #292E39;
$red: #FF6F6F;
$promo_color: #F0D288;
$promo_color_shade: #BB973E;